<app-header></app-header><!-- this is header==== -->
<div id="content">
  <div id="content-header"> </div>
  <div class="container-fluid">
  
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Ajouter Detail Course</h5>
        </div>
          <div class="widget-content nopadding">
            <form action="#" method="POST" class="form-horizontal" enctype="multipart/form-data">

              <div class="control-group">
                <label class="control-label">Désignation:</label>
                <div class="controls">
                  <input type="text" placeholder="Désignation…" name="MaterielDetailName" class="span7">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Title:</label>
                <div class="controls">
                  <input type="text" placeholder="Title…" name="title" class="span7">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Description:</label>
                <div class="controls">
                  <input type="text" placeholder="Description…" name="description" class="span7">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Image:</label>
                <div class="controls">
                  <input type="file" name="imageUrl" />
                </div>
              </div>
			  
              <div class="form-actions">
                <button type="submit" class="btn btn-inverse">Enregistrer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><hr>
	
	
  </div><!-- container-fluid==== -->
</div>
<app-footer></app-footer><!-- this is header==== -->