<!--Header-part-->
<div id="header">
  <h1><a routerLink="/home">Moraja3ati</a></h1>
</div>
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">&nbsp;&nbsp;&nbsp;&nbsp;
    <li class=" dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-cog"></i> <span class="text">Déconnexion</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="sAdd" title="" routerLink="/logout">Déconnexion</a></li>
        <li><a class="sInbox" title="" routerLink="/login-edit">Modifier password</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--close-top-Header-menu-->

<div id="sidebar">
	  <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
	<ul>
		<li> <a routerLinkActive routerLink="/home"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
		<li> <a routerLinkActive routerLink="/abouts"><i class="icon icon-file"></i> <span>About</span></a> </li>
		<li> <a routerLinkActive routerLink="/gallaries"><i class="icon icon-inbox"></i> <span>Gallary</span></a> </li>
		<li class="submenu"> <a href="#"><i class="icon icon-book"></i> <span>Course</span> <span class="label label-important">2</span></a>
		  <ul>
			<li><a routerLinkActive routerLink="/materials">Course</a></li>
			<li><a routerLinkActive routerLink="/material-details">Detail Course</a></li>
		  </ul>
		</li>
		<li class="submenu"> <a href="#"><i class="icon icon-bookmark"></i> <span>Events</span> <span class="label label-important">2</span></a>
			<ul>
			  <li><a routerLinkActive routerLink="/events">Events</a></li>
			  <li><a routerLinkActive routerLink="/event-details">Detail Events</a></li>
			</ul>
		  </li>
		<li><a routerLinkActive routerLink="/registers"><i class="icon icon-inbox"></i> <span>Registre</span></a></li>
		<li><a routerLinkActive routerLink="/contacts"><i class="icon icon-bell"></i> <span>Contacts</span></a></li>
	</ul>
</div>



